:root {
    --bg-color: #c2c2d6;
    --btn-color: #4d4d4d;
    --light-color: #ffffff;
    --grey-color: #f0f0f0;
    --red-color: rgb(172, 57, 57);
    --blue-color: rgb(0, 68, 102);
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body, html {
    font-family: "Lato", sans-serif;
    font-size: 10px;
    line-height: 1.5;
}

.wrapper {
    background-color: var(--bg-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}