:root {
    --bg-color: #c2c2d6;
    --btn-color: #4d4d4d;
    --light-color: #ffffff;
    --grey-color: #f0f0f0;
    --red-color: rgb(172, 57, 57);
    --blue-color: rgb(0, 68, 102);
    --border-color: #47476b;
}

@import 'https://fonts.googleapis.com/css?family=Share+Tech+Mono';
@font-face {
  font-family: "Digital";
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot");
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff") format("woff"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7") format("svg");
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body, html {
    font-family: "Lato", sans-serif;
    font-size: 10px;
    line-height: 1.5;
}

.wrapper {
    background-color: var(--bg-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 34rem;
    height: 40rem;
    background-color: black;
    padding: .5rem;
    border: .2rem solid var(--border-color);
}

.input {
    min-height: 2rem;
    font-family: digital;
    font-size: 2rem;
    color: orange;
    text-align: right;
    vertical-align: text-top;
    line-height: 2rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.output {
    font-size: 3rem;
    font-family: digital;
    color: var(--light-color);
    text-align: right;
    line-height: 3.5rem;
}